@model BlackJackMvc.ViewModels.GameViewModel

    <partial name="_CurrentWallet" />

    <div class="body-div myTest">
        <center>
            <div>
                <h2 style="position:relative;top:-50px; color:white">@Model.Player.Name vs @Model.Dealer.Name</h2>
            </div>

            <div style="margin-bottom:100px">


                @if (Model.PlayerDone == false)
                {
                    <div>
                        <img src="https://andrewthamcc.github.io/blackjack2.0/assets/facedown.png" alt="face down card" height="200" width="150" />
                        <img src="https://andrewthamcc.github.io/blackjack2.0/assets/facedown.png" alt="face down card" height="200" width="150" />
                    </div>

                }

                @if (Model.PlayerDone == true)
                {
                    <div id="showDealer">
                        <partial name="_ShowDealer" />
                    </div>
                }

                @if (Model.PlayerDone)
                {
                    @if (Model.Dealer.Score > 21)
                    {
                        <h4 style="color:white">@Model.Dealer.Name Busted!!</h4>
                    }
                }

            </div>


            <h2 style="color:white; position:relative;top:-50px">@Model.Result</h2>
            @if(Model.Player.Wallet < 5 && Model.PlayerDone == true)
            {
                <form>
                    <h2 style="color:white; position:relative; top:-60px">Looks like you're out of money, <button type="submit" asp-controller="Home" asp-action="Index" style="color:white; background:red; border-radius:20px; padding:5px; border-block-color:black">Return Home</button></h2>
                </form>
            }


            @foreach (Card card1 in Model.Player.Hand)
            {
                <img src="https://deckofcardsapi.com/static/img/@(card1.ApiNum)@(card1.ApiSuit).png" alt="card" height="200" width="150" />
            }

            <h3 style="color:white">@Model.Player.Name's score is: @Model.Player.Score</h3>
           

            @if (Model.PlayerDone == true && Model.Player.Wallet > 24)
            {
                <div style="margin-top: 20px">
                    <form>
                        <strong><input type="text" id="bet-box2" name="betInput" hidden required placeholder="Enter A Bet"/></strong>
                        
                           <label style="font-weight:bold; color:white">Bet 25</label>
                           <button type="button" onclick="betFunction1()" style="background: transparent; border: none">
                               <img id="bet-25-1" src="~/images/518-5181524_red-poker-chip-png-transparent-png.png" style="height:100px; width:100px; background:none" />
                           </button>
                        
                        @if (Model.Player.Wallet > 49)
                        {
                            <label style="font-weight:bold; color:white">Bet 50</label>
                            <button type="button" onclick="betFunction2()" style="background: transparent; border: none">
                                <img id="bet-50-1" src="~/images/107588.png" style="height:100px; width:100px" />
                            </button>
                        }
                        @if (Model.Player.Wallet > 99)
                        {
                            <label style="font-weight:bold; color:white">Bet 100</label>
                            <button type="button" onclick="betFunction3()" style="background: transparent; border: none">
                                <img id="bet-100-1" src="~/images/1254315.png" style="height:100px; width:100px" />
                            </button>
                        }

                        <button asp-controller="Game" asp-action="Continue" id="continue"style="color: white; background: #4800ff; border: none; border-radius: 20px; padding: 5px; border-block-color: black" type="submit">Continue</button>
                        <button asp-controller="Home" asp-action="Index" id="return-home"style="color: white; background: #0026ff; border: none; border-radius: 20px; padding: 5px; border-block-color: black; margin-top:10px" type="submit" formnovalidate>Return To Start</button>

                    </form>

                </div>
            }



            <div>
                <form>
                    @if (Model.PlayerDone == false && Model.Player.Score < 22)
                    {
                        @if (Model.Player.Score <= 21)
                        {
                            <button asp-controller="Game" asp-action="Hit" class="btn-hit" type="submit" style="color: white; background: #4800ff; position: relative; left: -350px; top: -200px; border: none; border-radius: 20px; padding: 10px; font-size: 50px">Hit</button>
                        }
                        <button asp-controller="Game" asp-action="Stand" class="btn-stand" type="submit" style="color: white; background: #4800ff; position: relative; right: -350px; top: -200px; border: none; border-radius: 20px; padding: 10px; font-size: 50px ">Stand</button>


                    }


                </form>
            </div>

            @if (Model.Player.Score > 21)
            {
                <div>
                    <form>
                        <div style="margin-bottom:10px">
                            <button asp-controller="Home" asp-action="Index" style="color: white; background: red; border: none; border-radius: 20px; padding: 5px; border-block-color: black " formnovalidate>BUST, YOU LOSE: Click here to return home</button>
                        </div>

                        @if (Model.Player.Wallet > 24)
                        {
                            <strong><input type="text" id="bet-box2" name="betInput" hidden required /></strong>


                            <label for="bet-box1" style="font-weight:bold; color:white">Bet 25</label>
                            <button type="button" onclick="betFunction1()" style="background: transparent; border: none">
                                <img id="bet-25-2" src="~/images/518-5181524_red-poker-chip-png-transparent-png.png" style="height:100px; width:100px" />
                            </button>

                            @if (Model.Player.Wallet > 49)
                            {
                                <label for="bet-box2" style="font-weight:bold; color:white">Bet 50</label>
                                <button type="button" onclick="betFunction2()" style="background: transparent; border: none">
                                    <img id="bet-50-2" src="~/images/107588.png" style="height:100px; width:100px" />
                                </button>
                            }
                            @if (Model.Player.Wallet > 99)
                            {
                                <label for="bet-box3" style="font-weight:bold; color:white">Bet 100</label>
                                <button type="button" onclick="betFunction3()" style="background: transparent; border: none">
                                    <img id="bet-100-2" src="~/images/1254315.png" style="height:100px; width:100px" />
                                </button>
                            }



                            <button asp-controller="Game" asp-action="Continue" type="submit" class="bust-continue" style="color: black; background: white; border: none; border-radius: 20px; padding: 5px; border-block-color: black;">Continue</button>
                        }

                        @if (Model.Player.Wallet < 25)
                        {
                            <h3 style="color:white">No money left, Return Home</h3>
                        }

                    </form>

                </div>
            }




        </center>
    </div>
    

<style>
    body{
        background-image: url('https://media.istockphoto.com/vectors/poker-table-background-in-green-color-vector-id1218355494?k=20&m=1218355494&s=612x612&w=0&h=7izk2bQU_LDnKLLLbwAolAo4kwUmcwr_mo8_Vr7955w=');
        background-size: cover;
        width:100%;
    }
    #bet-25-1:hover{
        padding:5px;
    }
    #bet-50-1:hover{
        padding:5px;
    }
    #bet-100-1:hover{
        padding:5px;
    }
    #bet-25-2:hover {
        padding: 5px;
    }

    #bet-50-2:hover {
        padding: 5px;
    }

    #bet-100-2:hover {
        padding: 5px;
    }
    
</style>

<script>
    function betFunction1() {
        
        document.getElementById("bet-box2").value= "25";
    }
    function betFunction2() {
        document.getElementById("bet-box2").value = "50";
    }
    function betFunction3() {
        document.getElementById("bet-box2").value = "100";
    }
</script>